
.container{
  border: 2px solid wheat;
  width: 40%;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  align-items: center;
  position: relative;
}
.container button {
  background-color: white;
  color: black;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.container button:hover{
  background-color: royalblue;
  color: white;
}
.location-box .location {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  
  .location-box .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
  
  .weather-box {
    text-align: center;
  }
  .weather-box .title{
    margin: 30px 0 0 0;
    color: aqua;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
  
    padding: 15px 25px;
  
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
  
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .weather-box .weather {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }